doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/styles/stylesheet.css')
  body
    block content
